.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  background-color: rgb(112, 159, 122);
  border-radius: 10px;
  padding: 20px;
}

.about-text {
  flex: 1;
  padding: 20px;
  color: white;
}

.about-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 48px;
  color: rgb(112, 159, 122);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}